.featuredProducts {
  margin: 100px 200px;
  font-family: 'Courier New', Courier, monospace;
  @media screen and (max-width: 430px) {
  
 

 }
  @media screen and (max-width: 768px) {
    margin: 10px ;
    margin-bottom: 120px;

   padding-top: 10px;
}


  .top {
   
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    gap:50px;

    h1 {
     
      flex: 1;
      text-transform: capitalize;
      font-family: customfont;
    }

    p{
      flex:2;
      color:gray
    }
  }

  .bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    gap: 20px;
    @media screen and (max-width: 768px) {
      display: none; 
    }
    
  }
  .slider-layout {
    display: none;

    @media screen and (max-width: 768px) {
      display:block;
     
  
      .slick-slide {
        display: flex;
        align-items: center;
        justify-content: center;
       
        
      }
    }
  }
  
}
