.footer {
  margin: 100px 200px 20px 200px;
  font-family: 'Courier New', Courier, monospace;
  @media screen and (max-width: 1024px) {
 margin: 10px;
    

 
}

  .top {
    display: flex;
    gap: 50px;
    @media screen and (max-width: 1024px) {
     flex-direction:column ;
      gap: 30px;
}
  .toplist{
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 786px) {
      flex-direction:column ;
       gap: 30px;
 }

  }

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
        
    
     
    }

      .infotext{
     line-height: 1.5;
     text-align: left;  
      }

      .icons {
        display: flex;
        color: gray;
        gap: 10px
      
      }

      p{
      padding: 0;
        font-size: 18px;
        font-weight: 500;
        color: #555;

        .fg{
          color: #A1D763;
          font-weight: 600;
        }
      }


      a{
        color: gray;
        text-decoration: none;
        text-align: left;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    .left {
      display: flex;
      align-items: center;

      .logo{
        color: #A1D763 ;
        font-weight: bold;
        font-size: 24px;
        font-family: customfont;
      }

      .copyright{
        margin-left: 20px;
        font-size: 12px;
        color: gray;
      }
    }
    .right {

      img{
        height: 50px;
      }
    }
  }
}
