.products {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 768px) {
      
    padding: 0px 
  
   
  }

  .head {
   letter-spacing: 2px;
   font-family: customfont;
   position: relative;
   padding-bottom:40px;
   font-size: 25px;
   left: 0;
   right: 0;
   margin: auto;
 }

  .items {
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;

    @media screen and (max-width: 768px) {
      
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    
     
    }

   
  }
}
